.header {
    background-color: rgb(29, 29, 29);
    position: relative;
    width: 100%;
    height: 110px;
}
.tomain {
    position: absolute;
    right: 10%;
    top: 35%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 24px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tomain:hover {
    background-color: rgb(97, 97, 97);
}
.logo {
    width: 300px;
    position: absolute;
    left: 10%;
}

.top{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 1400px;
    width: 100%;
}

.topic{
    position: absolute;
    left: 14%;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.slider {
    position: relative;
    top: 55%;
    left: 17%;
    width: 65%;
    height: 38%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slides {
    position: absolute;
    display: flex;
    top : -20px;
    width: 100%;
    animation: slideAnimation 21s infinite;
}

.slides img {
    width: 100%;
    object-fit: cover;
}

/* ทำให้มันเลื่อนเอง */
@keyframes slideAnimation {
  0% { transform: translateX(0%); }
  14% { transform: translateX(0%); }

  16% { transform: translateX(-100%); }
  28% { transform: translateX(-100%); }

  30% { transform: translateX(-200%); }
  42% { transform: translateX(-200%); }

  44% { transform: translateX(-300%); }
  56% { transform: translateX(-300%); }

  58% { transform: translateX(-400%); }
  70% { transform: translateX(-400%); }

  72% { transform: translateX(-500%); }
  84% { transform: translateX(-500%); }

  86% { transform: translateX(-600%); }
  100% { transform: translateX(-600%); }
}



.toppic1{
position: absolute;
width: 15%;
left: 14%;
top: 15%;
}

.toppic2{
position: absolute;
width: 8%;
left: 33%;
top: 15%;
}

.toppic3{
position: absolute;
width: 12%;
left: 47%;
top: 15%;
}

.toppic4{
position: absolute;
width: 8%;
left: 65%;
top: 15%;
}

.toppic5{
position: absolute;
width: 9%;
left: 78%;
top: 14.4%;
}


.text{
    width: 75%;
    word-wrap: break-word;
    position: absolute;
    left: 14%;
    top: 25%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.headt{
    position: relative;
    background-color: black;
    height: 140px;
    width: 100%;
}

.rank{
    position: absolute;
    left: 14%;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.midzone1{
    position: relative;
    background-color: black;
    height: 2250px;
    width: 100%;
}

.text0{
    position: absolute;
    left: 17%;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.result1{
    position: absolute;
    left: 17%;
    width: 32%;
    top: 14%;
    border-radius: 10px;
}

.text1{
    position: absolute;
    
    top:12%;
    left: 52%;

    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.teampic1{
    position: absolute;
    left: 52%;
    top: 22.5%;
    width: 26%;
    border-radius: 10px;
}

.mission{
    width: 70%;
    word-wrap: break-word;
    position: absolute;
    top: 3%;
    left: 17%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.im{
    position: absolute;
    left: 14%;
    top: 36%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.storytext1{
    width: 70%;
    word-wrap: break-word;
    position: absolute;
    top: 40%;
    left: 17%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.vdo1{
    position: absolute;
    left: 17%;
    width: 63%;
    top: 54%;
    border-radius: 10px;
}

.piccern{
    position: absolute;
    left:17%;
    top: 85%;
    width: 25%;
    border-radius: 10px;
}

.qr{
    position: absolute;
    left:45%;
    top: 85%;
    width: 31%;
    border-radius: 10px;
}

.midzone2{
    position: relative;
    background-color: white;
    height: 2600px;
    width: 100%;
}

.rank2{
    width: 70%;
    word-wrap: break-word;
    position: absolute;
    left: 14%;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text2{
    position: absolute;
    left: 17%;
    top: 5%;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.mission2{
    width: 70%;
    word-wrap: break-word;
    position: absolute;
    top: 8%;
    left: 17%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.result2{
    position: absolute;
    left: 17%;
    width: 32%;
    top: 18%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.text3{
    position: absolute;
    
    top: 16%;
    left: 52%;

    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.teampic2{
    position: absolute;
    left: 52%;
    top: 25%;
    width: 26%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.im2{
    position: absolute;
    left: 14%;
    top: 37%;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.storytext2{
    width: 70%;
    word-wrap: break-word;
    position: absolute;
    top: 42%;
    left: 17%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.vdo2{
    position: absolute;
    left: 17%;
    width: 63%;
    top: 58%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.piccern2{
    position: absolute;
    left:17%;
    top: 85%;
    width: 26.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.qr2{
    position: absolute;
    left: 47%;
    top: 85%;
    width: 33%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.bottom{
    position: relative;
    width: 100%;
    background-color: rgb(19, 19, 19);
    height: 200px;
}

@media (max-width: 768px) {
    .header {
      background-color: rgb(39, 39, 39);
      position: relative;
      height: 100px;
      width: 100%;
    }
    .logo {
        width: 38%;
        position: absolute;
        left: 10%;
        top: 20%
    }
    .tomain {
        position: absolute;
        right: 10%;
        top: 30%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px 24px; 
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 12px;
        transition: 0.3s;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    .tomain:hover {
        background-color: rgb(97, 97, 97);
    }

    .top{
        position: relative;
        background-color: rgb(255, 255, 255);
        height: 520px;
        width: 100%;
    }

    .topic{
        position: absolute;
        left: 10%;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .slider {
        position: relative;
        top: 58%;
        left: 16%;
        width: 70%;
        height: 26%;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .slides {
        position: absolute;
        display: flex;
        width: 100%;
        animation: slideAnimation 21s infinite;
    }

    .slides img {
        width: 105%;
        object-fit: cover;
    }

    /* ทำให้มันเลื่อนเอง */
    @keyframes slideAnimation {
        0% { transform: translateX(0%); }
        14% { transform: translateX(0%); }

        16% { transform: translateX(-100%); }
        28% { transform: translateX(-100%); }

        30% { transform: translateX(-200%); }
        42% { transform: translateX(-200%); }

        44% { transform: translateX(-300%); }
        56% { transform: translateX(-300%); }

        58% { transform: translateX(-400%); }
        70% { transform: translateX(-400%); }

        72% { transform: translateX(-500%); }
        84% { transform: translateX(-500%); }

        86% { transform: translateX(-600%); }
        100% { transform: translateX(-600%); }
    }



    .toppic1{
        position: absolute;
        width: 18%;
        left: 10%;
        top: 12%;
    }

    .toppic2{
        position: absolute;
        width: 10%;
        left: 30%;
        top: 11%;
    }

    .toppic3{
        position: absolute;
        width: 12%;
        left: 45%;
        top: 12%;
    }

    .toppic4{
        position: absolute;
        width: 10%;
        left: 65%;
        top: 10.5%;
    }

    .toppic5{
        position: absolute;
        width: 11%;
        left: 78%;
        top: 10%
    }


    .text{
        width: 75%;
        word-wrap: break-word;
        position: absolute;
        left: 14%;
        top: 20%;
        color: rgb(0, 0, 0);
        font-size: 10px;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    .headt{
        position: relative;
        background-color: black;
        height: 90px;
        width: 100%;
    }

    .rank{
        position: absolute;
        left: 14%;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .midzone1{
        position: relative;
        background-color: black;
        height: 950px;
        width: 100%;
    }

    .text0{
        position: absolute;
        left: 17%;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .result1{
        position: absolute;
        left: 17%;
        width: 32%;
        top: 23%;
        border-radius: 10px;
    }

    .text1{
        position: absolute;
        
        top: 21%;
        left: 52%;

        color: rgb(255, 255, 255);
        font-size: 12px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .teampic1{
        position: absolute;
        left: 52%;
        top: 30%;
        width: 26%;
        border-radius: 10px;
    }

    .mission{
        width: 70%;
        word-wrap: break-word;
        position: absolute;
        top: 5%;
        left: 17%;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .im{
        position: absolute;
        left: 17%;
        top: 38%;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .storytext1{
        width: 70%;
        word-wrap: break-word;
        position: absolute;
        top: 44%;
        left: 17%;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .vdo1{
        position: absolute;
        left: 17%;
        width: 63%;
        top: 67%;
        border-radius: 10px;
    }

    .piccern{
        position: absolute;
        left:17%;
        top: 89%;
        width: 25%;
        border-radius: 10px;
    }

    .qr{
        position: absolute;
        left:45%;
        top: 89%;
        width: 32%;
        border-radius: 10px;
    }

    .midzone2{
        position: relative;
        background-color: white;
        height: 950px;
        width: 100%;
    }

    .rank2{
        position: absolute;
        left: 14%;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .text2{
        position: absolute;
        left: 17%;
        top: 8%;
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .mission2{
        width: 70%;
        word-wrap: break-word;
        position: absolute;
        top: 12%;
        left: 17%;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }


    .result2{
        position: absolute;
        left: 17%;
        width: 32%;
        top: 28%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .text3{
        position: absolute;
        
        top: 26%;
        left: 52%;

        color: rgb(0, 0, 0);
        font-size: 12px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .teampic2{
        position: absolute;
        left: 52%;
        top: 34%;
        width: 26%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }


    .im2{
        position: absolute;
        left: 17%;
        top: 40.5%;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .storytext2{
        width: 70%;
        word-wrap: break-word;
        position: absolute;
        top: 45.5%;
        left: 17%;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }


    .vdo2{
        position: absolute;
        left: 17%;
        width: 63%;
        top: 70%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }


    .piccern2{
        position: absolute;
        left:17%;
        top: 90%;
        width: 26.5%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-radius: 10px;
    }

    .qr2{
        position: absolute;
        left: 47%;
        top: 90%;
        width: 33%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-radius: 10px;
    }

    .bottom{
        position: relative;
        width: 100%;
        background-color: rgb(19, 19, 19);
        height: 80px;
    }
}


@media screen and (min-width: 821px) and (max-width: 1024px) {
  body {
    zoom: 0.65;
  }
}

@media screen and (min-width: 768px) and (max-width: 820px) {
  body {
    zoom: 0.54;
  }
}