.header {
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 14vw;
    gap: 42vw;
}
.tomain {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.6vw 0.8vw; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.3s;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tomain:hover {
    background-color: rgb(97, 97, 97);
}
.logo {
    width: 20vw;
}


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5vw;
}

.topic{
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: -1vw;
}


.toppic1{
    width: 70vw;
}


.text{
    width: 65%;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.slider {
    width: 65%;
    height: 38%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slides {
    display: flex;
    width: 100%;
    animation: slideAnimation 21s infinite;
}

.slides img {
    width: 100%;
    object-fit: cover;
}

/* ทำให้มันเลื่อนเอง */
@keyframes slideAnimation {
  0% { transform: translateX(0%); }
  14% { transform: translateX(0%); }

  16% { transform: translateX(-100%); }
  28% { transform: translateX(-100%); }

  30% { transform: translateX(-200%); }
  42% { transform: translateX(-200%); }

  44% { transform: translateX(-300%); }
  56% { transform: translateX(-300%); }

  58% { transform: translateX(-400%); }
  70% { transform: translateX(-400%); }

  72% { transform: translateX(-500%); }
  84% { transform: translateX(-500%); }

  86% { transform: translateX(-600%); }
  100% { transform: translateX(-600%); }
}




.midzone1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding-bottom: 5vw;
    background-color: black;
}

.rank{
    width: 65%;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-size: 2.7vw;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: -1vw;
}

.text0{
    width: 65%;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: -3vw;
}

.mission{
    width: 65%;
    word-wrap: break-word;

    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.box1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-left: -5vw;
}

.result1{
    width: 32vw;
    border-radius: 10px;
}


.text1{
    color: rgb(255, 255, 255);
    font-size: 2vw;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.teampic1{

    width: 27vw;
    border-radius: 10px;
}



.im{
    width: 65%;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: -3vw;
}

.storytext1{
    width: 65%;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.vdo1{
    width: 65vw;
    border-radius: 10px;
}

.box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}


.piccern,.qr{
    width: 32vw;
    border-radius: 10px;
}



/*               ssssssssssssssssssssssssssssss                      */




.midzone2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding-bottom: 5vw;
    background-color: rgb(255, 255, 255);
}

.rank2{
    width: 65%;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    font-size: 2.7vw;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: -1vw;
}

.text2{
    width: 65%;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: -3vw;
}

.mission2{
    width: 65%;
    word-wrap: break-word;

    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-left: -5vw;
}

.result2{
    width: 32vw;
    border-radius: 10px;
}


.text3{
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.teampic2{

    width: 27vw;
    border-radius: 10px;
}



.im2{
    width: 65%;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: -3vw;
}

.storytext2{
    width: 65%;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.vdo2{
    width: 65vw;
    border-radius: 10px;
}

.box4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}


.piccern2,.qr2{
    width: 32vw;
    border-radius: 10px;
}