.header {
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 14vw;
    gap: 42vw;
}
.tomain {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.6vw 0.8vw; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.3s;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tomain:hover {
    background-color: rgb(97, 97, 97);
}
.logo {
    width: 20vw;
}

.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    padding-bottom: 5%;
    width: 100%;
}

.topic{
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.slider {
    position: relative;
    width: 70vw;
    height: 40vw;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.slides {
    position: absolute;
    top: -4vw;
    display: flex;
    width: 100%;
    animation: slideAnimation 21s infinite;
}

.slides img {
    width: 100%;
    object-fit: cover;
}

/* ทำให้มันเลื่อนเอง */
@keyframes slideAnimation {
  0% { transform: translateX(0%); }
  14% { transform: translateX(0%); }

  16% { transform: translateX(-100%); }
  28% { transform: translateX(-100%); }

  30% { transform: translateX(-200%); }
  42% { transform: translateX(-200%); }

  44% { transform: translateX(-300%); }
  56% { transform: translateX(-300%); }

  58% { transform: translateX(-400%); }
  70% { transform: translateX(-400%); }

  72% { transform: translateX(-500%); }
  84% { transform: translateX(-500%); }

  86% { transform: translateX(-600%); }
  100% { transform: translateX(-600%); }
}


.mid{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.box0{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.logo1{
    width: 10vw;
    margin-left: -6vw;
}

.text1{
    color: rgb(22, 22, 22);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 6vw;
}

.storytext{
    width: 70%;
    word-wrap: break-word;
    color: rgb(22, 22, 22);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0vw;
}

.box1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
}


.midpic1,.midpic2{
    border-radius: 10px;
    width: 35vw;
    
}

.storytext1{
    width: 70%;
    word-wrap: break-word;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.box2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}


.cern1,.cern2{
    border-radius: 10px;
    width: 35vw;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}







.mid2{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
}

.box3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.logo2{
    width: 10vw;
    margin-left: -6vw;
}

.text2{
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 6vw;
}

.box4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
}


.midpic4,.midpic5{
    border-radius: 10px;
    width: 35vw;
    
}
.storytext2{
    width: 70%;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0vw;
}

.box5{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}


.cern3,.cern4{
    border-radius: 10px;
    width: 35vw;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}


.storytext3{
    width: 70%;
    word-wrap: break-word;


    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.s1{
    color: rgb(255, 158, 31);
}

.c1{
    color: rgb(255, 123, 0);
}

.mid3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    gap: 5vw;
}


.logo3{
    width: 5vw;
}

.thank{
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
