.header {
    background-color: rgb(29, 29, 29);
    position: relative;
    height: 110px;
}
.tomain {
    position: absolute;
    right: 300px;
    top: 41;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 24px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tomain:hover {
    background-color: rgb(97, 97, 97);
}
.logo {
    width: 300px;
    position: absolute;
    left: 300px;
    top: 0;
}

.comtype{
    position: relative;
    height: 3000px;
    background-color: rgb(0, 0, 0);
}

.toppictext1{
    position: absolute;
    left: 17%;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.text1{
    position: absolute;
    left: 17%;
    top: 7%;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal; 
}

.skill{
    position: absolute;
    width: 70%;
    right: 15%;
    top: 13%;
}


.text2{
    position: absolute;
    left: 17%;
    top: 47%;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal; 
}

.py{
    position: absolute;
    width: 20.6%;
    top: 52%;
    left: 17%;
    border-radius: 25px;  
}

.cv{
    position: absolute;
    width: 20.6%;
    top: 54%;
    left: 62%;
    border-radius: 25px;  
}

.dt{
    position: absolute;
    width: 22.6%;
    top: 51%;
    left: 38%;
    border-radius: 25px;  
}

.text3{
    position: absolute;
    left: 17%;
    top: 64%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal; 
}

.text4{
    width: 66%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
    word-wrap: break-word;
    position: absolute;
    left: 17%;
    top: 68%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal; 
}

.fdpic1{
    position: absolute;
    width: 70%;
    border-radius: 15px;
    top:75%;
    right:15%;                                                           
}



.freetype{
    position: relative;
    background-color: white;
    height: 1400px;
}

.toppictext2{
    position: absolute;
    left: 17%;
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.text5{
    width: 66%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
    word-wrap: break-word;
    position: absolute;
    left: 17%;
    top: 10%;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.sodapic1{
    position: absolute;
    width: 40%;
    top:23%;
    left: 17%;
    border-radius: 15px;
}

.sodapic4{
    position: absolute;
    width: 17.65%;
    top:23%;
    right:23%;
    border-radius: 15px;
}

.text6{
    width: 66%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
    word-wrap: break-word;
    position: absolute;
    left: 17%;
    top: 55%;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.text7{
    width: 63%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
    word-wrap: break-word;
    position: absolute;
    left: 17%;
    top: 65%;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal; 
}


@media (max-width: 768px) {
    .header {
        background-color: rgb(39, 39, 39);
        position: relative;
        height: 100px;
        width: 100%;
    }
    .logo {
        width: 38%;
        position: absolute;
        left: 10%;
        top: 20%
    }
    .tomain {
        position: absolute;
        right: 10%;
        top: 30%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px 24px; 
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 12px;
        transition: 0.3s;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    .tomain:hover {
        background-color: rgb(97, 97, 97);
    }
    .comtype{
        position: relative;
        height: 900px;
        background-color: rgb(0, 0, 0);
    }

    .toppictext1{
        position: absolute;
        left: 14%;
        top : -1%;
        color: rgb(255, 255, 255);
        font-size: 23px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal; 
    }

    .text1{
        width: 70%;
        word-wrap: break-word;
        position: absolute;
        left: 17%;
        top: 5%;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal; 
    }

    .skill{
        position: absolute;
        width: 70%;
        right: 15%;
        top: 15%;
    }


    .text2{
        width: 70%;
        word-wrap: break-word;
        position: absolute;
        left: 17%;
        top: 42%;
        color: rgb(255, 255, 255);
        font-size: 21px;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal; 
    }

    .py{
        position: absolute;
        width: 20.6%;
        top: 52.5%;
        left: 17%;
        border-radius: 25px;  
    }

    .cv{
        position: absolute;
        width: 20.6%;
        top: 54%;
        left: 62%;
        border-radius: 25px;  
    }

    .dt{
        position: absolute;
        width: 22.6%;
        top: 52%;
        left: 38%;
        border-radius: 25px;  
    }

    .text3{
        position: absolute;
        left: 17%;
        top: 61%;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal; 
    }

    .text4{
        width: 66%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
        word-wrap: break-word;
        position: absolute;
        left: 17%;
        top: 66%;
        color: rgb(255, 255, 255);
        font-size: 10px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal; 
    }

    .fdpic1{
        position: absolute;
        width: 70%;
        border-radius: 15px;
        top:78%;
        right:15%;                                                           
    }



    .freetype{
        position: relative;
        background-color: white;
        height: 450px;
    }

    .toppictext2{
        position: absolute;
        left: 14%;
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal; 
    }

    .text5{
        width: 66%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
        word-wrap: break-word;
        position: absolute;
        left: 17%;
        top: 12%;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal; 
    }

    .sodapic1{
        position: absolute;
        width: 45%;
        top:32%;
        left: 17%;
        border-radius: 15px;
    }

    .sodapic4{
        position: absolute;
        width: 20%;
        top:32%;
        right:17%;
        border-radius: 15px;
    }

    .text6{
        width: 66%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
        word-wrap: break-word;
        position: absolute;
        left: 17%;
        top: 59%;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal; 
    }

    .text7{
        width: 63%;              /* กว้างครึ่งหนึ่งของพื้นที่พ่อ */
        word-wrap: break-word;
        position: absolute;
        left: 17%;
        top: 68%;
        color: rgb(0, 0, 0);
        font-size: 10px;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal; 
    }
}