.header {
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 14vw;
    gap: 42vw;
}
.tomain {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.6vw 0.8vw; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.3s;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tomain:hover {
    background-color: rgb(97, 97, 97);
}
.logo {
    width: 20vw;
}

.background{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    background-color: rgb(24, 24, 24);
}

.toptext{
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}



.box1pic,.box2pic,.box3pic,.box4pic,.box5pic,.box6pic,.box7pic,.box8pic{
    width: 75vw;
}
